Repository estatekitzach/estate-kit-api-w2pf9g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/lead-architects, @estatekit/graphql-team, @estatekit/data-team, @estatekit/security-team, @estatekit/database-team, @estatekit/devops-team, @estatekit/sre-team, @estatekit/qa-team

.github/CODEOWNERS:

# Global ownership - Lead Architects have oversight of all repository content
*                                           @estatekit/lead-architects

# GraphQL API implementation ownership
src/backend/Business.API/GraphQL/**         @estatekit/graphql-team @estatekit/lead-architects

# Data API implementation ownership
src/backend/Data.API/**                     @estatekit/data-team @estatekit/lead-architects

# Security implementation ownership
src/backend/Infrastructure/Security/**      @estatekit/security-team @estatekit/lead-architects

# Database implementation ownership
src/backend/Infrastructure/Data/**          @estatekit/database-team @estatekit/lead-architects

# AWS infrastructure configuration ownership
infrastructure/aws/**                       @estatekit/devops-team @estatekit/lead-architects

# Security configuration ownership
infrastructure/security/**                  @estatekit/security-team @estatekit/lead-architects

# Monitoring configuration ownership
infrastructure/monitoring/**                @estatekit/devops-team @estatekit/sre-team @estatekit/lead-architects

# CI/CD workflow configuration ownership
.github/workflows/**                        @estatekit/devops-team @estatekit/lead-architects

# Test implementation ownership
src/backend/Tests/**                        @estatekit/qa-team @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/network/security-groups.json
  infrastructure/security/network/security-groups.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/network/vpc-flow-logs.json
  infrastructure/security/network/vpc-flow-logs.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/waf/api-rules.json
  infrastructure/security/waf/api-rules.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/waf/rate-limits.json
  infrastructure/security/waf/rate-limits.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/.editorconfig
  src/backend/.editorconfig
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/.gitignore
  src/backend/.gitignore
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Directory.Build.props
  src/backend/Directory.Build.props
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Directory.Packages.props
  src/backend/Directory.Packages.props
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/EstateKit.sln
  src/backend/EstateKit.sln
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/README.md
  src/backend/README.md
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/docker-compose.override.yml
  src/backend/docker-compose.override.yml
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/global.json
  src/backend/global.json
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/nuget.config
  src/backend/nuget.config
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/tye.yaml
  src/backend/tye.yaml
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Business.API.csproj
  src/backend/Business.API/Business.API.csproj
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Dockerfile
  src/backend/Business.API/Dockerfile
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Program.cs
  src/backend/Business.API/Program.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Startup.cs
  src/backend/Business.API/Startup.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/appsettings.Development.json
  src/backend/Business.API/appsettings.Development.json
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/appsettings.Production.json
  src/backend/Business.API/appsettings.Production.json
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/appsettings.Staging.json
  src/backend/Business.API/appsettings.Staging.json
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/appsettings.json
  src/backend/Business.API/appsettings.json
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Configuration/AuthenticationConfig.cs
  src/backend/Business.API/Configuration/AuthenticationConfig.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Configuration/AwsConfig.cs
  src/backend/Business.API/Configuration/AwsConfig.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Configuration/GraphQLConfig.cs
  src/backend/Business.API/Configuration/GraphQLConfig.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Configuration/MonitoringConfig.cs
  src/backend/Business.API/Configuration/MonitoringConfig.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Mutations/AssetMutations.cs
  src/backend/Business.API/GraphQL/Mutations/AssetMutations.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Mutations/ContactMutations.cs
  src/backend/Business.API/GraphQL/Mutations/ContactMutations.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Mutations/DocumentMutations.cs
  src/backend/Business.API/GraphQL/Mutations/DocumentMutations.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Mutations/IdentifierMutations.cs
  src/backend/Business.API/GraphQL/Mutations/IdentifierMutations.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Mutations/UserMutations.cs
  src/backend/Business.API/GraphQL/Mutations/UserMutations.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Queries/AssetQueries.cs
  src/backend/Business.API/GraphQL/Queries/AssetQueries.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Queries/ContactQueries.cs
  src/backend/Business.API/GraphQL/Queries/ContactQueries.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Queries/DocumentQueries.cs
  src/backend/Business.API/GraphQL/Queries/DocumentQueries.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Queries/IdentifierQueries.cs
  src/backend/Business.API/GraphQL/Queries/IdentifierQueries.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Queries/UserQueries.cs
  src/backend/Business.API/GraphQL/Queries/UserQueries.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Subscriptions/DocumentSubscriptions.cs
  src/backend/Business.API/GraphQL/Subscriptions/DocumentSubscriptions.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Types/AssetType.cs
  src/backend/Business.API/GraphQL/Types/AssetType.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects
