Repository estatekitzach/estate-kit-api-w2pf9g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/lead-architects, @estatekit/graphql-team, @estatekit/data-team, @estatekit/security-team, @estatekit/database-team, @estatekit/devops-team, @estatekit/sre-team, @estatekit/qa-team

.github/CODEOWNERS:

# Global ownership - Lead Architects have oversight of all repository content
*                                           @estatekit/lead-architects

# GraphQL API implementation ownership
src/backend/Business.API/GraphQL/**         @estatekit/graphql-team @estatekit/lead-architects

# Data API implementation ownership
src/backend/Data.API/**                     @estatekit/data-team @estatekit/lead-architects

# Security implementation ownership
src/backend/Infrastructure/Security/**      @estatekit/security-team @estatekit/lead-architects

# Database implementation ownership
src/backend/Infrastructure/Data/**          @estatekit/database-team @estatekit/lead-architects

# AWS infrastructure configuration ownership
infrastructure/aws/**                       @estatekit/devops-team @estatekit/lead-architects

# Security configuration ownership
infrastructure/security/**                  @estatekit/security-team @estatekit/lead-architects

# Monitoring configuration ownership
infrastructure/monitoring/**                @estatekit/devops-team @estatekit/sre-team @estatekit/lead-architects

# CI/CD workflow configuration ownership
.github/workflows/**                        @estatekit/devops-team @estatekit/lead-architects

# Test implementation ownership
src/backend/Tests/**                        @estatekit/qa-team @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/.github/workflows/pr-validation.yml
  .github/workflows/pr-validation.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/business-api.yml
  infrastructure/aws/cloudformation/business-api.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/data-api.yml
  infrastructure/aws/cloudformation/data-api.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/database.yml
  infrastructure/aws/cloudformation/database.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/eks-cluster.yml
  infrastructure/aws/cloudformation/eks-cluster.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/networking.yml
  infrastructure/aws/cloudformation/networking.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/security.yml
  infrastructure/aws/cloudformation/security.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/cloudformation/storage.yml
  infrastructure/aws/cloudformation/storage.yml
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/scripts/create-stacks.sh
  infrastructure/aws/scripts/create-stacks.sh
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/scripts/update-stacks.sh
  infrastructure/aws/scripts/update-stacks.sh
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/scripts/validate-templates.sh
  infrastructure/aws/scripts/validate-templates.sh
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/environments/prod/main.tf
  infrastructure/aws/terraform/environments/prod/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/environments/prod/variables.tf
  infrastructure/aws/terraform/environments/prod/variables.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/environments/staging/main.tf
  infrastructure/aws/terraform/environments/staging/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/environments/staging/variables.tf
  infrastructure/aws/terraform/environments/staging/variables.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/modules/api/main.tf
  infrastructure/aws/terraform/modules/api/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/modules/database/main.tf
  infrastructure/aws/terraform/modules/database/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/modules/eks/main.tf
  infrastructure/aws/terraform/modules/eks/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/modules/networking/main.tf
  infrastructure/aws/terraform/modules/networking/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/modules/security/main.tf
  infrastructure/aws/terraform/modules/security/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/aws/terraform/modules/storage/main.tf
  infrastructure/aws/terraform/modules/storage/main.tf
Owners: @estatekit/devops-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/monitoring/grafana/dashboards/api-metrics.json
  infrastructure/monitoring/grafana/dashboards/api-metrics.json
Owners: @estatekit/devops-team, @estatekit/sre-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/monitoring/grafana/dashboards/database-metrics.json
  infrastructure/monitoring/grafana/dashboards/database-metrics.json
Owners: @estatekit/devops-team, @estatekit/sre-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/monitoring/grafana/dashboards/security-metrics.json
  infrastructure/monitoring/grafana/dashboards/security-metrics.json
Owners: @estatekit/devops-team, @estatekit/sre-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/monitoring/prometheus/alert-rules.yml
  infrastructure/monitoring/prometheus/alert-rules.yml
Owners: @estatekit/devops-team, @estatekit/sre-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @estatekit/devops-team, @estatekit/sre-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/encryption/key-rotation-policy.json
  infrastructure/security/encryption/key-rotation-policy.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/encryption/kms-policy.json
  infrastructure/security/encryption/kms-policy.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/iam/api-policy.json
  infrastructure/security/iam/api-policy.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/iam/database-policy.json
  infrastructure/security/iam/database-policy.json
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/infrastructure/security/iam/storage-policy.json
  infrastructure/security/iam/storage-policy.json
Owners: @estatekit/security-team, @estatekit/lead-architects
