Repository estatekitzach/estate-kit-api-w2pf9g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/lead-architects, @estatekit/graphql-team, @estatekit/data-team, @estatekit/security-team, @estatekit/database-team, @estatekit/devops-team, @estatekit/sre-team, @estatekit/qa-team

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Controllers/AssetController.cs
  src/backend/Data.API/Controllers/AssetController.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Controllers/ContactController.cs
  src/backend/Data.API/Controllers/ContactController.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Controllers/DocumentController.cs
  src/backend/Data.API/Controllers/DocumentController.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Controllers/IdentifierController.cs
  src/backend/Data.API/Controllers/IdentifierController.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Controllers/UserController.cs
  src/backend/Data.API/Controllers/UserController.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Middleware/AuditLoggingMiddleware.cs
  src/backend/Data.API/Middleware/AuditLoggingMiddleware.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Middleware/EncryptionMiddleware.cs
  src/backend/Data.API/Middleware/EncryptionMiddleware.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Properties/launchSettings.json
  src/backend/Data.API/Properties/launchSettings.json
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Services/AuditService.cs
  src/backend/Data.API/Services/AuditService.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Services/DataService.cs
  src/backend/Data.API/Services/DataService.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Services/EncryptionService.cs
  src/backend/Data.API/Services/EncryptionService.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Infrastructure.csproj
  src/backend/Infrastructure/Infrastructure.csproj
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/ApplicationDbContext.cs
  src/backend/Infrastructure/Data/ApplicationDbContext.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Configurations/AssetConfiguration.cs
  src/backend/Infrastructure/Data/Configurations/AssetConfiguration.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Configurations/ContactConfiguration.cs
  src/backend/Infrastructure/Data/Configurations/ContactConfiguration.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Configurations/DocumentConfiguration.cs
  src/backend/Infrastructure/Data/Configurations/DocumentConfiguration.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Configurations/IdentifierConfiguration.cs
  src/backend/Infrastructure/Data/Configurations/IdentifierConfiguration.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Configurations/UserConfiguration.cs
  src/backend/Infrastructure/Data/Configurations/UserConfiguration.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Migrations/InitialCreate.cs
  src/backend/Infrastructure/Data/Migrations/InitialCreate.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Repositories/AssetRepository.cs
  src/backend/Infrastructure/Data/Repositories/AssetRepository.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Repositories/ContactRepository.cs
  src/backend/Infrastructure/Data/Repositories/ContactRepository.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Repositories/DocumentRepository.cs
  src/backend/Infrastructure/Data/Repositories/DocumentRepository.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Repositories/IdentifierRepository.cs
  src/backend/Infrastructure/Data/Repositories/IdentifierRepository.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Data/Repositories/UserRepository.cs
  src/backend/Infrastructure/Data/Repositories/UserRepository.cs
Owners: @estatekit/database-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Security/EncryptionProvider.cs
  src/backend/Infrastructure/Security/EncryptionProvider.cs
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Infrastructure/Security/TokenValidator.cs
  src/backend/Infrastructure/Security/TokenValidator.cs
Owners: @estatekit/security-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Business.API.Tests/Business.API.Tests.csproj
  src/backend/Tests/Business.API.Tests/Business.API.Tests.csproj
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Business.API.Tests/GraphQL/Mutations/AssetMutationsTests.cs
  src/backend/Tests/Business.API.Tests/GraphQL/Mutations/AssetMutationsTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Business.API.Tests/GraphQL/Mutations/DocumentMutationsTests.cs
  src/backend/Tests/Business.API.Tests/GraphQL/Mutations/DocumentMutationsTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Business.API.Tests/GraphQL/Queries/UserQueriesTests.cs
  src/backend/Tests/Business.API.Tests/GraphQL/Queries/UserQueriesTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Business.API.Tests/Services/DocumentProcessorTests.cs
  src/backend/Tests/Business.API.Tests/Services/DocumentProcessorTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Data.API.Tests/Data.API.Tests.csproj
  src/backend/Tests/Data.API.Tests/Data.API.Tests.csproj
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Data.API.Tests/Controllers/DocumentControllerTests.cs
  src/backend/Tests/Data.API.Tests/Controllers/DocumentControllerTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Data.API.Tests/Services/EncryptionServiceTests.cs
  src/backend/Tests/Data.API.Tests/Services/EncryptionServiceTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Integration.Tests/ApiIntegrationTests.cs
  src/backend/Tests/Integration.Tests/ApiIntegrationTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Integration.Tests/DatabaseIntegrationTests.cs
  src/backend/Tests/Integration.Tests/DatabaseIntegrationTests.cs
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Tests/Integration.Tests/Integration.Tests.csproj
  src/backend/Tests/Integration.Tests/Integration.Tests.csproj
Owners: @estatekit/qa-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/kubernetes/business-api-deployment.yaml
  src/backend/kubernetes/business-api-deployment.yaml
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/kubernetes/data-api-deployment.yaml
  src/backend/kubernetes/data-api-deployment.yaml
Owners: @estatekit/lead-architects

.github/CODEOWNERS:

# Global ownership - Lead Architects have oversight of all repository content
*                                           @estatekit/lead-architects

# GraphQL API implementation ownership
src/backend/Business.API/GraphQL/**         @estatekit/graphql-team @estatekit/lead-architects

# Data API implementation ownership
src/backend/Data.API/**                     @estatekit/data-team @estatekit/lead-architects

# Security implementation ownership
src/backend/Infrastructure/Security/**      @estatekit/security-team @estatekit/lead-architects

# Database implementation ownership
src/backend/Infrastructure/Data/**          @estatekit/database-team @estatekit/lead-architects

# AWS infrastructure configuration ownership
infrastructure/aws/**                       @estatekit/devops-team @estatekit/lead-architects

# Security configuration ownership
infrastructure/security/**                  @estatekit/security-team @estatekit/lead-architects

# Monitoring configuration ownership
infrastructure/monitoring/**                @estatekit/devops-team @estatekit/sre-team @estatekit/lead-architects

# CI/CD workflow configuration ownership
.github/workflows/**                        @estatekit/devops-team @estatekit/lead-architects

# Test implementation ownership
src/backend/Tests/**                        @estatekit/qa-team @estatekit/lead-architects
