Repository estatekitzach/estate-kit-api-w2pf9g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/lead-architects, @estatekit/graphql-team, @estatekit/data-team, @estatekit/security-team, @estatekit/database-team, @estatekit/devops-team, @estatekit/sre-team, @estatekit/qa-team

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Types/ContactType.cs
  src/backend/Business.API/GraphQL/Types/ContactType.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Types/DocumentType.cs
  src/backend/Business.API/GraphQL/Types/DocumentType.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Types/IdentifierType.cs
  src/backend/Business.API/GraphQL/Types/IdentifierType.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/GraphQL/Types/UserType.cs
  src/backend/Business.API/GraphQL/Types/UserType.cs
Owners: @estatekit/graphql-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Middleware/AuthenticationMiddleware.cs
  src/backend/Business.API/Middleware/AuthenticationMiddleware.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Middleware/LoggingMiddleware.cs
  src/backend/Business.API/Middleware/LoggingMiddleware.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Middleware/SecurityHeadersMiddleware.cs
  src/backend/Business.API/Middleware/SecurityHeadersMiddleware.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Properties/launchSettings.json
  src/backend/Business.API/Properties/launchSettings.json
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Services/DocumentProcessor.cs
  src/backend/Business.API/Services/DocumentProcessor.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Services/OcrProcessor.cs
  src/backend/Business.API/Services/OcrProcessor.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Services/ValidationService.cs
  src/backend/Business.API/Services/ValidationService.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Services/AWS/S3Service.cs
  src/backend/Business.API/Services/AWS/S3Service.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Business.API/Services/AWS/TextractService.cs
  src/backend/Business.API/Services/AWS/TextractService.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Core.csproj
  src/backend/Core/Core.csproj
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Entities/Asset.cs
  src/backend/Core/Entities/Asset.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Entities/Contact.cs
  src/backend/Core/Entities/Contact.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Entities/Document.cs
  src/backend/Core/Entities/Document.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Entities/Identifier.cs
  src/backend/Core/Entities/Identifier.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Entities/User.cs
  src/backend/Core/Entities/User.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Enums/AssetType.cs
  src/backend/Core/Enums/AssetType.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Enums/ContactMethodType.cs
  src/backend/Core/Enums/ContactMethodType.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Enums/DocumentType.cs
  src/backend/Core/Enums/DocumentType.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Enums/IdentifierType.cs
  src/backend/Core/Enums/IdentifierType.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Enums/RelationshipType.cs
  src/backend/Core/Enums/RelationshipType.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Interfaces/IAssetRepository.cs
  src/backend/Core/Interfaces/IAssetRepository.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Interfaces/IContactRepository.cs
  src/backend/Core/Interfaces/IContactRepository.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Interfaces/IDocumentRepository.cs
  src/backend/Core/Interfaces/IDocumentRepository.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Interfaces/IIdentifierRepository.cs
  src/backend/Core/Interfaces/IIdentifierRepository.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Core/Interfaces/IUserRepository.cs
  src/backend/Core/Interfaces/IUserRepository.cs
Owners: @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Data.API.csproj
  src/backend/Data.API/Data.API.csproj
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Dockerfile
  src/backend/Data.API/Dockerfile
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Program.cs
  src/backend/Data.API/Program.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Startup.cs
  src/backend/Data.API/Startup.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/appsettings.Development.json
  src/backend/Data.API/appsettings.Development.json
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/appsettings.Production.json
  src/backend/Data.API/appsettings.Production.json
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/appsettings.Staging.json
  src/backend/Data.API/appsettings.Staging.json
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/appsettings.json
  src/backend/Data.API/appsettings.json
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Configuration/DatabaseConfig.cs
  src/backend/Data.API/Configuration/DatabaseConfig.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Configuration/EncryptionConfig.cs
  src/backend/Data.API/Configuration/EncryptionConfig.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

Add public-samples/estate-kit-api-w2pf9g/src/backend/Data.API/Configuration/SecurityConfig.cs
  src/backend/Data.API/Configuration/SecurityConfig.cs
Owners: @estatekit/data-team, @estatekit/lead-architects

.github/CODEOWNERS:

# Global ownership - Lead Architects have oversight of all repository content
*                                           @estatekit/lead-architects

# GraphQL API implementation ownership
src/backend/Business.API/GraphQL/**         @estatekit/graphql-team @estatekit/lead-architects

# Data API implementation ownership
src/backend/Data.API/**                     @estatekit/data-team @estatekit/lead-architects

# Security implementation ownership
src/backend/Infrastructure/Security/**      @estatekit/security-team @estatekit/lead-architects

# Database implementation ownership
src/backend/Infrastructure/Data/**          @estatekit/database-team @estatekit/lead-architects

# AWS infrastructure configuration ownership
infrastructure/aws/**                       @estatekit/devops-team @estatekit/lead-architects

# Security configuration ownership
infrastructure/security/**                  @estatekit/security-team @estatekit/lead-architects

# Monitoring configuration ownership
infrastructure/monitoring/**                @estatekit/devops-team @estatekit/sre-team @estatekit/lead-architects

# CI/CD workflow configuration ownership
.github/workflows/**                        @estatekit/devops-team @estatekit/lead-architects

# Test implementation ownership
src/backend/Tests/**                        @estatekit/qa-team @estatekit/lead-architects
